---
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/Banner.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';  


export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Banner />
  <article class="blog-post">
    <header>
      <h1 class="post-title">{post.data.title}</h1>
      <p class="post-date">{post.data.date}</p>
    </header>
    <section class="post-content">
      <Content />
    </section>
  </article>
</Layout>
