---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro'; 
import '../styles/index.css'; 
import { Image } from 'astro:assets';
import programming_gif from '../assets/programming.gif';
const title = "Arun George Saji";
---

<Layout title={title}>
  <Banner />
  <div class="spacer"></div>
  <div class="profile-container">
    <Image src={programming_gif} alt="Animated GIF" class="profile-gif fade-in"/>
  </div>
  <div class="word-fade-container">
    <h1 class="hover-scale">
      <span class="word-fade" style="animation-delay: 0s;">Hello</span>
      <span class="word-fade" style="animation-delay: 0.2s;">we</span>
      <span class="word-fade" style="animation-delay: 0.4s;">are</span>
      <span class="word-fade" style="animation-delay: 0.6s;">spark</span>
    </h1>
    <h2 class="hover-scale">
      <span class="word-fade" style="animation-delay: 1.2s;">Welcome</span>
      <span class="word-fade" style="animation-delay: 1.4s;">to</span>
      <span class="word-fade" style="animation-delay: 1.6s;">our</span>
      <span class="word-fade" style="animation-delay: 1.8s;">space!</span>
    </h2>
  </div>
</Layout>
