---
import "../styles/Banner.css";
import { Image } from 'astro:assets';
import sidebar_icon from '../assets/sidebar-icon.png';
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="banner">
    <nav class="nav-links">
      <button class="toggle-sidebar"><Image src={sidebar_icon} alt="Menu" class="social-icon"></button> 
      <div class="links">
        <a href="/">Home</a>
        <a href="/members">Members</a>
        <a href="/logs">Logs</a>
        <a href="/faq">FAQ</a><br>
      </div>
    </nav>
  </div>

  <div class="sidebar">
    <a href="/">Home</a>
    <a href="/members">Members</a>
    <a href="/logs">Logs</a>
    <a href="/faq">FAQ</a><br>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const toggleButton = document.querySelector('.toggle-sidebar');
      const sidebar = document.querySelector('.sidebar');

      if (toggleButton && sidebar) {
        toggleButton.addEventListener('click', () => {
          sidebar.classList.toggle('active');
        });
      } else {
        console.warn('Toggle button or sidebar is not present in the DOM');
      }
    });
  </script>
</body>


